{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container header-margin bg-white">
  <div class="row">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
    		<div id="flash_messages" class="col-md-12 text-center text-white bg-secondary">
          {% for message in messages %}
            <strong> {{ message }} </strong>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>
  <div class="row">
    <nav class="col-md-3">
      <h2>Categories</h2>
      <ul>
        {% for category in categories %}
          <li>
      		<a class="lead text_red" href = "{{url_for('showItems', category_name = category.name)}}">{{category.name}}</a>
          </li>
      	{% endfor %}
      </ul>
    </nav>
    <main class="col-md-9">
      <h2>Latest Items</h2>
      <ul>
        {% for item in latest_items %}
          <li>
            <a class="lead text_red" href = "{{url_for('showItem', category_name = item.Category, item_title = item.Title)}}">
            {{item.Title}} <span class="text-muted"> <em>({{item.Category}}) </em></span></a>
          </li>
      	{% endfor %}
      </ul>
    </main>
  </div>
</div>
{% endblock %}
