{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container header-margin bg-white">
  <div class="row">
    <div class="col-md-11 col-md-offset-1 padding_bottom">
      <h2> Are you sure you want to delete {{category.name}}? </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <form action="{{ url_for('deleteCategory', category_name = category.name)}}" method = "POST">
        <button type="submit" class="btn btn-danger text-white" id="submit" >Delete</button>
        <a href="{{url_for('showItems', category_name = category.name)}}" class="btn btn-success text-white" id="cancel">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
