<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <div class="mr-auto p-2">
        <a href="{{url_for('showCategories')}}"><h1 class="text-light">Catalog App</h1></a>
      </div>
      {%if 'username' not in session %}
        <div class="p-2">
          <a class="btn btn-success" role="button" id="login"
          href="{{url_for('showLogin')}}">Login</a>
        </div>
      {% else %}
        <div class="p-2 text-light">
          You're logged as: {{session.username}}
        </div>
        <a class="btn btn-danger" id="logout" role="button" href="{{url_for('google_disconnect')}}">Logout</a>
      {% endif %}
    </div>
  </nav>
</header>
