body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EEE;
}

.header-margin {
  margin-top: 100px;
  padding: 30px;
}

nav {
  border-right: 2px solid black;
}

li {
  list-style: none;
}

.text_red {
  color: red;
}

.text_red:hover {
  color: red;
}

.zero_margin {
  margin: 0px;
}

#flash_messages {
  margin-top: 20px;
  margin-bottom: 20px;
}

.padding_bottom {
  padding-bottom: 20px;
}
